/* .background-image{
      style="
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(https://m2.alothemes.com/safira/media/wysiwyg/alothemes/demo3/03banner-01.jpg) ; height: 320px;">
} */
.textme{

        padding-top: 95px;
        padding-left: 800px;
}
.foot{
        background-color: rgb(179, 179, 179);
}
strong{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}